code, kbd, samp {
    font-size: 1em;
    font-family: monospace, monospace;
}

mark, kbd, code {
    display: inline-block;
    padding: 0 4px;
    vertical-align: middle;
    border-radius: 3px;
}

pre, code {
    overflow: hidden;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    background-color: #e9ecef;
}

body {
    background: #f4f7fb;
}

.content-page {
    padding-bottom: 150px;
}


.btn {
    display: block;
    border: 1px solid $palette-secondary;
    border-radius: 4px;
    background-color: transparent;
    width: 388px;
    height: 58px;
    text-align: center;
    text-decoration: none;
    line-height: 58px;
    box-sizing: border-box;
    font-size: 16px;
    color: $palette-main;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;;
    transition: all 0.25s;

    &:hover {
        color: $palette-secondary;
        border-color: $palette-secondary;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }

    &.small-btn {
        width: fit-content;
        padding: 5px 10px;
        line-height: 22px;
        height: 32px;
        font-size: 12px;
        text-transform: uppercase;
        box-sizing: border-box;
    }
}

.base-btn {
    width: 100%;
    background-color: $palette-secondary;
    color: $white-color;

    &:hover, &[data-hover="true"] {
        background: $palette-secondary2;
        border-color: $palette-secondary2;
        color: $white-color;
    }

    &:focus, &[data-focus="true"] {
        background: $palette-secondary3;
        border-color: $palette-secondary3;
        color: $white-color;
    }

    &[aria-disabled="disabled"], .disabled {
        opacity: 0.8;
        border-color: #c9cfd6;
        color: $white-color;
        background-color: #c9cfd6;

        &:hover, &:focus {
            border-color: #c9cfd6;
            color: $white-color;
            background-color: #c9cfd6;
        }
    }
}

.white-btn {
    width: 100%;
    color: $palette-secondary;
    background: $white-color;
    border-color: $white-color;

    &:hover, &[data-hover="true"] {
        background: $palette-secondary2;
        color: $white-color;
        border-color: $palette-secondary2;
    }

    &:focus, &[data-focus="true"] {
        background: $palette-secondary3;
        color: $white-color;
        border-color: $palette-secondary3;
    }

    &[aria-disabled="disabled"], .disabled {
        opacity: 0.5;

        &:hover, &:focus {
            color: $palette-secondary;
            background: $white-color;
            border-color: $white-color;
        }
    }
}

.border-btn {
    width: 100%;
    border-color: $white-color;
    color: $white-color;
    background: transparent;

    &:hover, &[data-hover="true"] {
        background: $white-color;
        border-color: $white-color;
        color: $palette-secondary;
    }

    &:focus, &[data-focus="true"] {
        background: $palette-secondary2;
        color: $white-color;
        border-color: $palette-secondary2;
    }

    &[aria-disabled="disabled"], .disabled {
        opacity: 0.5;

        &:hover, &:focus {
            border-color: $white-color;
            color: $white-color;
            background: $palette-secondary;
        }
    }
}

.gray-btn {
    width: 100%;
    color: $palette-gray2;
    background: transparent;
    border-color: $palette-gray2;

    &:hover, &[data-hover="true"] {
        background: transparent;
        color: $palette-gray2;
        border-color: $palette-gray2;
    }

    &:focus, &[data-focus="true"] {
        background: transparent;
        color: $palette-gray2;
        border-color: $palette-gray2;
    }

    &[aria-disabled="disabled"], .disabled {
        opacity: 0.5;

        &:hover, &:focus {
            color: $palette-gray2;
            background: transparent;
            border-color: $palette-gray2;
        }
    }
}

.gray-btn-2 {
    width: 100%;
    color: $palette-main;
    background: transparent;
    border-color: $palette-gray3;
    border-width: 2px;

    &:hover, &[data-hover="true"] {
        background: transparent;
        color: $palette-main;
        border-color: $palette-secondary;
    }

    &:focus, &[data-focus="true"] {
        background: transparent;
        color: $palette-main;
        border-color: $palette-gray3;
    }

    &[aria-disabled="disabled"], .disabled {
        opacity: 0.5;

        &:hover, &:focus {
            color: $palette-main;
            background: transparent;
            border-color: $palette-gray3;
        }
    }
}


.btn-2 {
    border-radius: 14px;
    font-size: 14px;
    height: auto;
    padding: 6px 10px;
    line-height: 1;
    width: auto;
    display: inline-block;
    font-weight: 400;
}


.search-btn {
    display: block;
    outline: none;
    border: none;
    text-indent: -999999px;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate3d(0px, -50%, 0px);
    right: 20px;
    background: url(../img/general/search.png) no-repeat;
}

.map-filter .form-group__input {
    padding-right: 50px;
}

.liner {
    padding: 10px;
    background: $palette-secondary;
    margin-bottom: 10px;
}


.select2-selection__arrow {
    transition: all 0.2s;

    b {
        display: none;
    }

    &::before {
        position: absolute;
        content: '';
        top: 45%;
        left: 40%;
        height: 10px;
        width: 12px;
        background: url('/static/img/minified-svg/arrow-down.svg') no-repeat;
        background-position: center;
        background-size: 10px 12px;
        transition: all 0.2s;
    }
}

.select2-container--open .select2-selection__arrow::before {
    transform: rotate(-180deg);
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 15px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $palette-secondary !important;
}


/**/
div {
    box-sizing: border-box;
}

h1, .h1 {
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;;
    color: $palette-main;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 25px;
}

h2, .h2 {
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;;
    color: $palette-main;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 25px;
}

h3, .h3 {
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;;
    color: $palette-main;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 15px;
}

h4, .h4 {
    font-size: 19px;
    font-family: 'Source Sans Pro', sans-serif;;
    color: $palette-main;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 15px;
}

h5, .h5 {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;;
    color: $palette-main;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 15px;
}

h6, .h6 {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;;
    color: $palette-main;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;;
    color: $palette-main;
    margin-bottom: 20px;
}

a {
    color: $palette-secondary;
    text-decoration: none;
    transition: all 0.25s;

    &:hover {
        text-decoration: underline;
        color: $palette-secondary;
    }

    &:focus {
        text-decoration: none;
        opacity: 0.6;
        color: $palette-secondary;
    }

    &.disabled {
        color: #c9cfd6;

        &:hover, &:focus {
            color: #c9cfd6;
            text-decoration: none;
        }
    }
}

.medium-text {
    font-size: 16px;

    p {
        font-size: 16px;
    }
}

.small-text {
    font-size: 14px;
}

q, .qoute {
    display: block;
    background: #ccebef;
    width: 100%;
    padding: 100px 70px 50px 70px;
    margin-bottom: 30px;
    position: relative;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;;
    color: rgb(51, 51, 51);
    line-height: 1.417;

    &:before {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        left: 0;
        right: 0;
        top: 40px;
        position: absolute;
        margin: auto;
        background-image: url("../img/general/quote.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

ul {
    padding-left: 20px;
    margin-bottom: 30px;

    li {
        padding-left: 10px;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;;
        color: $palette-main;
        line-height: 1.4;
    }
}

ol {
    margin-bottom: 30px;
    padding-left: 20px;

    li {
        padding-left: 10px;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;;
        color: $palette-main;
        line-height: 1.4;
    }
}

table {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.4;

    thead {
        font-weight: bold;
        font-family: 'Source Sans Pro', sans-serif;;

        th {
            background: $white-color;
            padding: 12px 20px;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #d0d4dd;

            &:last-child {
                border-bottom: none;
            }
        }

        td {
            padding: 12px 20px;
        }
    }
}


/*text page*/
.title-page {
    margin-bottom: 50px;
}

.bg-gray {
    background: $palette-gray;
}

.bg-white {
    background: $white-color;
}

.text-page {
    &__img {
        margin-bottom: 40px;
    }
}

.img-fluid {
    width: 100%;
}


/*form*/
.form-checkbox {
    &__input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        display: block;
        position: relative;
        font-size: 16px;
        color: #848e99;
        padding-left: 32px;
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            border-radius: 4px;
            height: 24px;
            width: 24px;
            border: 1px solid #d0d4dd;
            position: absolute;
            top: 5px;
            left: 0;
            background: $white-color;
            box-sizing: border-box;
        }
    }


    &__input:checked + label:before {
        background: $palette-secondary;
        border-color: $palette-secondary;
    }
}

.form-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;

    &__input {
        width: 100%;
        padding: 0 20px;
        background: $white-color;
        border-radius: 4px;
        border: 1px solid #d0d4dd;
        height: 58px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;;

        &:focus {
            outline: none;
            box-shadow: none;
            border-color: $palette-secondary;

            & + .form-group__label {
                top: 8px;
                font-size: 12px;
            }
        }
    }

    &__label {
        transition: all 0.25s;
        position: absolute;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;;
        color: rgb(132, 142, 153);
        top: 20px;
        left: 20px;
        line-height: 1;
        display: block;
        height: 16px;
    }

    &__error {
        font-size: 14px;
        color: $red-color;
        font-family: 'Source Sans Pro', sans-serif;;
        display: none;
    }

    &.not-empty {
        .form-group__input {
            background: #eff0f1;
            border-color: #eff0f1;
        }

        .form-group__label {
            top: 8px;
            font-size: 12px;
        }
    }

    &.has-error {
        .form-group__input {
            border-color: $red-color;
        }

        .form-group__error {
            display: block;
        }
    }
}

.form-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;

    &__textarea {
        resize: none;
        width: 100%;
        padding: 20px 20px;
        background: $white-color;
        border-radius: 4px;
        border: 1px solid #d0d4dd;
        height: 150px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Source Sans Pro', sans-serif;;

        &:focus {
            outline: none;
            box-shadow: none;
            border-color: $palette-secondary;

            & + .form-group__label {
                top: 8px;
                font-size: 12px;
            }
        }
    }

    &__label {
        transition: all 0.25s;
        position: absolute;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;;
        color: rgb(132, 142, 153);
        top: 20px;
        left: 20px;
        line-height: 1;
        display: block;
        height: 16px;
    }

    &__error {
        font-size: 14px;
        color: $red-color;
        font-family: 'Source Sans Pro', sans-serif;;
        display: none;
    }

    &.not-empty {
        .form-group__textarea {
            border-color: #eff0f1;
        }

        .form-group__label {
            top: 8px;
            font-size: 12px;
        }
    }

    &.has-error {
        .form-group__input {
            border-color: $red-color;
        }

        .form-group__error {
            display: block;
        }
    }
}

.select2-container {
    width: 100% !important;
    height: 58px;

    &--focus {
        outline: none;
        box-shadow: none;
    }

    .select2-selection--single {
        width: 100%;
        height: 58px !important;
        border: 1px solid #d0d4dd !important;

        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }

        .select2-selection__rendered {
            line-height: 56px !important;
            padding-left: 20px !important;
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;;
        }

        .select2-selection__arrow {
            height: 56px !important;
        }
    }
}


/*padding*/
.pb-40 {
    padding-bottom: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.mr-bottom-10 {
    margin-bottom: 10px;
}

.mr-bottom-15 {
    margin-bottom: 15px;
}

.mr-bottom-20 {
    margin-bottom: 20px;
}

.mr-bottom-25 {
    margin-bottom: 25px;
}

.mr-bottom-30 {
    margin-bottom: 30px;
}

.mr-bottom-35 {
    margin-bottom: 35px;
}

.mr-bottom-40 {
    margin-bottom: 40px;
}

.mr-top-10 {
    margin-top: 10px;
}

.mr-top-15 {
    margin-top: 15px;
}

.mr-top-20 {
    margin-top: 20px;
}

.mr-top-25 {
    margin-top: 25px;
}

.mr-top-30 {
    margin-top: 30px;
}

.mr-top-35 {
    margin-top: 35px;
}

.mr-top-40 {
    margin-top: 40px;
}

.mr-auto {
    margin-right: auto;
    margin-left: auto;
}
