/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
    font-family: "GOSTUI2", 'Roboto',
    sans-serif;
}


@font-face {
    font-family: 'GOSTUI2';
    src: url('../fonts/windows/GOSTUI2-Bold.eot?#iefix');
    src: url('../fonts/windows/GOSTUI2-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/windows/GOSTUI2-Bold.ttf?#iefix') format('truetype'),
        url('../fonts/windows/GOSTUI2-Bold.woff?#iefix') format('woff'),
        url('../fonts/windows/GOSTUI2-Bold.svg?#iefix') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GOSTUI2';
    src: url('../fonts/windows/GOSTUI2-Medium.eot?#iefix');
    src: url('../fonts/windows/GOSTUI2-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/windows/GOSTUI2-Medium.ttf?#iefix') format('truetype'),
        url('../fonts/windows/GOSTUI2-Medium.woff?#iefix') format('woff'),
        url('../fonts/windows/GOSTUI2-Medium.svg?#iefix') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GOSTUI2';
    src: url('../fonts/windows/GOSTUI2.eot?#iefix');
    src: url('../fonts/windows/GOSTUI2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/windows/GOSTUI2.ttf?#iefix') format('truetype'),
        url('../fonts/windows/GOSTUI2.woff?#iefix') format('woff'),
        url('../fonts/windows/GOSTUI2.svg?#iefix') format('svg');
    font-weight: 400;
    font-style: normal;
}


// @font-face {
//     font-family: "GOSTUI2";
//     src: url('../fonts/GOST.eot');
//     src: url('../fonts/GOST.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/GOST.woff') format('woff');
//     font-weight: 400; 
//     font-style: normal; 
// }


// Var for using custom font
// $GOSTUI2: "GOSTUI2",
// Helvetica,
// Arial,
// sans-serif;

