/* colors */
$white-color: #ffffff;
$palette-bg: #3b4256;
$palette-main: #14171e;
$palette-primary: #a9abb1;
$palette-secondary: #18b4bb;
$palette-gray: #f4f7fb;
$palette-secondary2: #19a1a7;
$palette-secondary3: #0e868b;
$red-color: #ff3333;
$palette-gray2: #848e99;
$palette-gray3: #e6eaef;
$dirtygreen-color: #40763d;
$pink-color: #ba42cb;
$orange-color: #f39629;
$orange-color2: #ffac29;
$blue-color: #1771f1;
$blue-color2: #2979ff;
$green-color: #0dad40;
$green-color2: #94d339;
$palette-gray4: #c9cfd6;
$palette-gray5: #d0d4dd;
