<div class="articles">
    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="page-title">Статьи</div>
        <div class="articles__list">
            {{#each articles.article}}
            {{#is @index '==' 1}}
            <div class="articles__main">
                <div class="articles__image">
                    <img src="{{this.image}}" alt="">
                </div>

                <div class="articles__info">
                    <a href="article.html" class="articles__name">{{this.title}}</a>
                    <div class="articles__text">{{this.subtitle}}</div>
                    <div class="articles__date">{{this.date}}</div>
                </div>
            </div>
            {{/is}}
            {{/each}}

            {{#each articles.article}}
            {{#is @index '>' 1}}
            <div class="articles__item">
                <div class="articles__image">
                    <img src="{{this.image}}" alt="">
                </div>

                <div class="articles__info">
                    <a href="article.html" class="articles__name">{{this.title}}</a>
                    <div class="articles__text">{{this.subtitle}}</div>
                    <div class="articles__date">{{this.date}}</div>
                </div>
            </div>
            {{/is}}
            {{/each}}
        </div>

        <div class="articles__more">
            <a href="javascript:void(0)">Показать больше <i class="fas fa-chevron-down"></i></a>
        </div>
    </div>
</div>
