<section class="topbar">
    <div class="container topbar__container">
        <div class="topbar__left">
            <a href="/" class="topbar__link">Официальный сайт Нижнего Новгорода {{Icon iconName="arrow-right-up-line"}}</a>
        </div>
        <div class="topbar__right">
            <div class="topbar__item topbar-search">
                <div class="topbar__top">
                    <div class="topbar__icon">{{Icon iconName="baseline-search"}}</div>
                    <div class="topbar__text">Найти</div>
                </div>
            </div>

            <div class="topbar__item topbar-user">
                <div class="topbar__top">
                    <div class="topbar__icon">{{Icon iconName="user-profile"}}</div>
                    <div class="topbar__text">Личный кабинет</div>
                </div>
            </div>

            <div class="topbar__item">
                <div class="topbar__top">
                    <div class="topbar__icon">{{Icon iconName="message-pen"}}</div>
                    <div class="topbar__text">Сообщить о нарушении</div>
                </div>
            </div>
            <div class="topbar__black topbar__item">
                <div class="topbar__icon">{{Icon iconName="eye"}}</div>
                <div class="topbar__text">Версия для слабовидящих</div>
            </div>
        </div>
    </div>
</section>