<div class="counter">
    <div class="counter__item">
        <div class="counter__info">Количество опублиованных сообщений</div>
        <div class="counter__num">45</div>
    </div>
    <div class="counter__item">
        <div class="counter__info">Количество подтвержденных проблем</div>
        <div class="counter__num">32</div>
    </div>
    <div class="counter__item">
        <div class="counter__info">Количество решенных проблем</div>
        <div class="counter__num">28</div>
    </div>
    <div class="counter__item">
        <div class="counter__info">Количество проблем, находящихся на стадии решения</div>
        <div class="counter__num">4</div>
    </div>
</div>

<h2>Потверждение экологической проблемы на карте города</h2>

<div class="myappeal__map">
    <img src="static/img/general/map-img.jpg" alt="">
</div>

<h2>Последние опубликованные сообщения</h2>

<div class="objects">
    <div class="objects__item obj-item decided">
        <span class="status-info">Решено</span>
        <div class="obj-item__img">
            <img src="static/img/general/project/tresh1.jpg" alt="">
        </div>
        <div class="obj-item__info">
            <div class="obj-item__name">Городской ландшафтный парк культуры и отдыха имени А.С. Пушкина</div>
            <div class="label">Адрес</div>
            <div class="text">Приокский район, Проезд от пр. Гагарина к дому 76 по пр. Гагарина (ДГБ №1)</div>
            <div class="label">Координаты</div>
            <div class="text">56.278944, 43.983475</div>
            <div class="obj-item__sections">
                <a href="#" class="btn base-btn btn-2">Парки, рекреационные зоны</a>
            </div>

        </div>
    </div>
    <div class="objects__item obj-item decided">
        <span class="status-info">Решено</span>
        <div class="obj-item__img">
            <img src="static/img/general/project/img02.jpg" alt="">
        </div>
        <div class="obj-item__info">
            <div class="obj-item__name">Полигон твёрдых бытовых отходов «Игумновский»</div>
            <div class="label">Адрес</div>
            <div class="text">Нижегородская область, городской округ Дзержинск</div>
            <div class="label">Координаты</div>
            <div class="text">56.288963, 43.676189</div>
            <div class="obj-item__sections">
                <a href="#" class="btn dirtygreen-btn btn-2">Полигоны ТБО</a>
            </div>
        </div>

    </div>
    <div class="objects__item obj-item inwork">
        <span class="status-info">В работе</span>
        <div class="obj-item__img">
            <img src="static/img/general/project/img03.jpg" alt="">
        </div>
        <div class="obj-item__info">
            <div class="obj-item__name">Тимирязева, 39</div>
            <div class="label">Адрес</div>
            <div class="text">Нижний Новгород, Советский район, улица Тимирязева, 39</div>
            <div class="label">Координаты</div>
            <div class="text">56.278944, 43.983475</div>
            <div class="obj-item__sections">
                <a href="#" class="btn pink-btn btn-2">Застройка города</a>
            </div>

        </div>
    </div>
    <div class="objects__item obj-item decided">
        <span class="status-info">Решено</span>
        <div class="obj-item__img">
            <img src="static/img/general/project/img04.jpg" alt="">
        </div>
        <div class="obj-item__info">
            <div class="obj-item__name">Пункт приема вторсырья</div>
            <div class="label">Адрес</div>
            <div class="text">Нижний Новгород, Приокский район, ул. Богородского, 5, корп. 5</div>
            <div class="label">Координаты</div>
            <div class="text">56.288963, 43.676189</div>
            <div class="obj-item__sections">
                <a href="#" class="btn orange-btn btn-2">Пункты приема вторсырья, ТКО</a>
            </div>

        </div>
    </div>
    <div class="objects__item obj-item new">
        <span class="status-info">Новое</span>
        <div class="obj-item__img">
            <img src="static/img/general/project/img06.jpg" alt="">
        </div>
        <div class="obj-item__info">
            <div class="obj-item__name">Парк имени 1 Мая</div>
            <div class="label">Адрес</div>
            <div class="text">Нижний Новгород, Канавинский район, ул. Октябрьской Революции, 31, корп. 1</div>
            <div class="label">Координаты</div>
            <div class="text">56.310886, 43.933727</div>
            <div class="obj-item__sections">
                <a href="#" class="btn base-btn btn-2">Парки, рекреационные зоны</a>
            </div>
        </div>
    </div>
    <div class="objects__item obj-item new">
        <span class="status-info">Новое</span>
        <div class="obj-item__img">
            <img src="static/img/general/project/img07.jpg" alt="">
        </div>
        <div class="obj-item__info">
            <div class="obj-item__name">Жилой район Мещерское Озеро</div>
            <div class="label">Адрес</div>
            <div class="text">Нижний Новгород, Канавинский район, Сибирская улица, 3</div>
            <div class="label">Координаты</div>
            <div class="text">56.342634, 43.954265</div>
            <div class="obj-item__sections">
                <a href="#" class="btn blue-btn btn-2">Зоны затопления</a>
            </div>
        </div>
    </div>
</div>


