<div class="appl-cont__header">
    <a href="#" class="info-btn"><span>Порядок приема и рассмотрения обращения граждан</span></a>
    <a href="#" class="btn base-btn">Подать обращение</a>
</div>

<div class="appl-cont__list">
    <div class="appl-cont__item appeal-item inwork">
        <div class="appeal-item__header">
            <div class="appeal-item__num">
                <span class="label">Номер:</span>
                <span>2782</span>
            </div>
            <div class="appeal-item__date">
                <span class="label">Дата обращения:</span>
                <span>07.12.2018, 19:07</span>
            </div>
            <div class="appeal-item__status">
                <span class="label">Статус:</span>
                <span class="status-info">В работе</span>
            </div>
        </div>
        <a class="appeal-item__name" href="">Многоуровневые парковки вдоль железной дороги в мкр. Мещерское озеро</a>
    </div>
    <div class="appl-cont__item appeal-item new">
        <div class="appeal-item__header">
            <div class="appeal-item__num">
                <span class="label">Номер:</span>
                <span>2586</span>
            </div>
            <div class="appeal-item__date">
                <span class="label">Дата обращения:</span>
                <span>05.12.2018, 19:07</span>
            </div>
            <div class="appeal-item__status">
                <span class="label">Статус:</span>
                <span class="status-info">Новое</span>
            </div>
        </div>
        <a class="appeal-item__name" href="">Внедрение индекса экологической эффективности муниципальной системы управления</a>
    </div>
    <div class="appl-cont__item appeal-item decided">
        <div class="appeal-item__header">
            <div class="appeal-item__num">
                <span class="label">Номер:</span>
                <span>2281</span>
            </div>
            <div class="appeal-item__date">
                <span class="label">Дата обращения:</span>
                <span>03.12.2018, 19:07</span>
            </div>
            <div class="appeal-item__status">
                <span class="label">Статус:</span>
                <span class="status-info">Решено</span>
            </div>
        </div>
        <a class="appeal-item__name" href="">Продолжение трамвайной от Мызы до автовокзала Щербинки</a>
        <div class="appeal-item__answear app-item-ans">
            <div class="app-item-ans__header">Ответ на обращение <span class="label">от 07.12.2018, 18:25:</span></div>
            <div class="app-item-ans__cont">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam explicabo molestias necessitatibus sint asperiores iure ullam illum quidem praesentium et fuga amet ab sed non temporibus laborum qui, quae mollitia consequatur quisquam vitae! Recusandae corrupti, adipisci similique vel debitis culpa molestias laboriosam sed veniam. Saepe ipsum praesentium nam aut molestiae!
            </div>
            <div class="app-item-ans__estimate">
                <div class="label">Оцените качество работы по обращению</div>
                <div class="app-item-ans__score">
                    <span class="star active"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="star active"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                </div>
                <a href="#" class="btn base-btn">Решено</a>
            </div>
        </div>
    </div>
    <div class="appl-cont__item appeal-item decided">
         <div class="appeal-item__header">
             <div class="appeal-item__num">
                 <span class="label">Номер:</span>
                 <span>2185</span>
             </div>
             <div class="appeal-item__date">
                 <span class="label">Дата обращения:</span>
                 <span>03.12.2018, 19:07</span>
             </div>
             <div class="appeal-item__status">
                 <span class="label">Статус:</span>
                 <span class="status-info">Решено</span>
             </div>
         </div>
         <a class="appeal-item__name" href="">Продолжение трамвайной от Мызы до автовокзала Щербинки</a>
         <div class="appeal-item__answear app-item-ans">
             <div class="app-item-ans__header">Ответ на обращение <span class="label">от 07.12.2018, 18:25:</span></div>
             <div class="app-item-ans__cont">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam explicabo molestias necessitatibus sint
                 asperiores iure ullam illum quidem praesentium et fuga amet ab sed non temporibus laborum qui, quae
                 mollitia consequatur quisquam vitae! Recusandae corrupti, adipisci similique vel debitis culpa
                 molestias laboriosam sed veniam. Saepe ipsum praesentium nam aut molestiae!
             </div>
             <div class="app-item-ans__estimate">
                 <div class="label">Оцените качество работы по обращению</div>
                 <div class="app-item-ans__score">
                     <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                     <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                     <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                     <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                     <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>

                 </div>
                 <a href="#" class="btn base-btn">Решено</a>
             </div>
         </div>
     </div>
    <div class="appl-cont__item appeal-item received">
        <div class="appeal-item__header">
            <div class="appeal-item__num">
                <span class="label">Номер:</span>
                <span>1582</span>
            </div>
            <div class="appeal-item__date">
                <span class="label">Дата обращения:</span>
                <span>12.11.2018, 11:02</span>
            </div>
            <div class="appeal-item__status">
                <span class="label">Статус:</span>
                <span class="status-info">Получено</span>
            </div>
        </div>
        <a class="appeal-item__name" href="">Многоуровневые парковки вдоль железной дороги в мкр. Мещерское
            озеро</a>
    </div>
    <div class="appl-cont__item appeal-item confirmed">
        <div class="appeal-item__header">
            <div class="appeal-item__num">
                <span class="label">Номер:</span>
                <span>1564</span>
            </div>
            <div class="appeal-item__date">
                <span class="label">Дата обращения:</span>
                <span>01.10.2018, 14:22</span>
            </div>
            <div class="appeal-item__status">
                <span class="label">Статус:</span>
                <span class="status-info">Подтверждено</span>
            </div>
        </div>
        <a class="appeal-item__name" href="">Внедрение индекса экологической эффективности муниципальной системы
            управления</a>
    </div>
</div>