<div class="appl-cont__header">
    <a href="#" class="info-btn"><span>Порядок приема и рассмотрения обращения граждан</span></a>
    <a href="#" class="btn base-btn">Подать обращение</a>
</div>

<div class="appl-cont__list">
    <div class="appl-cont__item appeal-item closed">
        <div class="appeal-item__header">
            <div class="appeal-item__num">
                <span class="label">Номер:</span>
                <span>1564</span>
            </div>
            <div class="appeal-item__date">
                <span class="label">Дата обращения:</span>
                <span>01.10.2018, 14:22</span>
            </div>
            <div class="appeal-item__status">
                <span class="label">Статус:</span>
                <span class="status-info">Закрыто</span>
            </div>
        </div>
        <a class="appeal-item__name" href="">Внедрение индекса экологической эффективности муниципальной системы
            управления</a>
    </div>
</div>