<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Личный кабинет </a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Мои обращения </a>
            </li>
        </ul>
    </div>
</div>

<div class="myappeal">
    <div class="container">
        <!-- main -->
        <div class="row">



            <div class="col-md-8 col-12">

                <h1 class="page__title">Многоуровневые парковки вдоль железной дороги в мкр. Мещерское озеро</h1>

                <div class="appl-cont__item appeal-item appeal-item_page decided">

                    <div class="appeal-item__header">
                        <div class="appeal-item__num">
                            <span class="label">Номер:</span>
                            <span>2185</span>
                        </div>
                        <div class="appeal-item__date">
                            <span class="label">Дата обращения:</span>
                            <span>14.11.2018, 12:35</span>
                        </div>
                        <div class="appeal-item__status">
                            <span class="label">Статус:</span>
                            <span class="status-info">Решено</span>
                        </div>
                    </div>
                    <div class="appeal-item__content">
                        <h2>Подробное описание</h2>
                        <p>В мкр. Мещерское озеро в настоящее время размещаются разгрузочно-погрузочные площадки, сооруженные к ЧМ2018. Необходимость подобных парковок объясняется проблемойперезаполнения близлежащих дворов машинами и служить дополнительным "экраном" от железной дороги. Подобные парковки имеются в Москве.</p>
                        <h2>Прикрепленные материалы</h2>
                        <div class="appeal-item__gallery gallery">
                            <a href="static/img/general/project/appeal-img1.jpg" class="gallery__item">
                                     <img src="static/img/general/project/appeal-img01.jpg" alt="">
                            </a>
                            <a href="static/img/general/project/appeal-img2.jpg" class="gallery__item">
                                <img src="static/img/general/project/appeal-img2.jpg" alt="">
                            </a>
                            <a href="static/img/general/project/appeal-img3.jpg" class="gallery__item">
                                <img src="static/img/general/project/appeal-img3.jpg" alt="">
                            </a>
                        </div>
                        <h2>Место на карте</h2>
                        <div class="appeal-item__place-map">
                            <img src="static/img/general/map-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="appeal-item__content">
                        <h2>Ответ на обращение</h2>
                        <div class="appeal-item__date">
                            <div class="label">
                                от 07.12.2018, 18:25
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit non asperiores doloribus adipisci voluptate totam ratione, debitis error, facere perferendis voluptas quod, aperiam mollitia voluptatibus tenetur ad! Consequuntur magnam quia eveniet esse voluptate animi voluptates modi atque est qui totam fugit sint et dolores, tempore corrupti! Non eum recusandae explicabo!
                        </p>
                        <div class="app-item-ans__estimate">

                            <div class="label">Оцените качество работы по обращению</div>
                            <div class="app-item-ans__score">
                                <span class="star active"><i class="fa fa-star"
                                        aria-hidden="true"></i></span>
                                <span class="star active"><i class="fa fa-star"
                                        aria-hidden="true"></i></span>
                                <span class="star active"><i class="fa fa-star" aria-hidden="true"></i></span>
                                <span class="star active"><i class="fa fa-star" aria-hidden="true"></i></span>
                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                            </div>
                            <a href="#" class="btn base-btn">Решено</a>
                        </div>
                    </div>
                </div>
                <a href="" class="getback-btn">Вернуться к списку</a>

            </div>

            <div class="col-md-4 col-12">
                <!-- aside -->
                <aside class="aside text-base">
                    {{> aside/profile-info }}
                    {{> aside/profile-menu }}

                    <button class="btn gray-btn">Выйти</button>
                </aside>
                <!-- end aside -->
            </div>

        </div>
    </div>
</div>