<section class="content-page">
    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="container">
        <!-- main -->
        <div class="page-title mr-bottom-30">Мой профиль</div>

        <div class="row">
            <div class="col-md-8 col-12">
                <div class="medium-text wrap-text">
                    <p>Просим Вас внимательно ознакомиться с <a href="#">порядком приема и рассмотрения обращений.</a>
                    </p>
                    <p>Информация о персональных данных авторов обращений, направленных в электронном виде, хранится и
                        обрабатывается с соблюдением требований российского законодательства о персональных данных.</p>
                    <p>Поступающие электронные обращения рассматриваются в соответствии с Федеральным законом от
                        02.05.2006
                        №59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации», Законом Нижегородской
                        области от 07.09.2007 №124-З <a href="#">«О дополнительных гарантиях права граждан на обращение
                            в
                            Нижегородской
                            области»,</a> распоряжением администрации города Нижнего Новгорода от 10.05.2012 №193-р <a>«Об
                            утверждении
                            Положения о работе с обращениями граждан и организации личного приема граждан должностными
                            лицами
                            администрации города Нижнего Новгорода»</a> и другими нормативно-правовыми актами.</p>
                    <p>Вы можете авторизоваться на Официальном сайте «Экокарта города Нижнего Новгорода» с помощью
                        учетной
                        записи Единого портала государственных услуг, чтобы отслеживать статус поданного обращения в
                        Личном
                        кабинете.</p>
                    <p>При подаче обращения без авторизации логин и пароль к Личному кабинету будут направлены Вам на
                        адрес
                        электронной почты, указанный при подаче обращения. Используйте их для доступа в Личный
                        кабинет.</p>

                    <div class="wrap-block">
                        <p class="medium-text mr-bottom-30">Пожалуйста, заполните все поля, загрузите фотографии
                            и/или видео с
                            места экологической проблемы, напишите подробнее о ней и укажите адрес.</p>
                        <h6>Данные о заявителе</h6>

                        <div class="form-group not-empty mr-bottom-10">
                            <input type="text" placeholder="" class="form-group__input"
                                   value="Петроченко">
                            <label class="form-group__label">Фамилия</label>
                        </div>

                        <div class="form-group not-empty mr-bottom-10">
                            <input type="text" placeholder="" class="form-group__input"
                                   value="Нина">
                            <label class="form-group__label">Имя</label>
                        </div>

                        <div class="form-group not-empty mr-bottom-10">
                            <input type="text" placeholder="" class="form-group__input"
                                   value="Алексеевна">
                            <label class="form-group__label">Отчество</label>
                        </div>

                        <div class="form-group not-empty mr-bottom-40">
                            <input type="email" placeholder="" class="form-group__input"
                                   value="msph@mail.ru">
                            <label class="form-group__label">E-mail</label>
                        </div>


                        <h6>Описание Жалобы</h6>

                        <form class="mr-bottom-40">
                            <div class="mr-bottom-10">
                                <select class="select">
                                    <option>Тема жалобы</option>
                                    <option>Вариант 2</option>
                                    <option>Вариант 3</option>
                                    <option>Вариант 4</option>
                                </select>
                            </div>

                            <div class="mr-bottom-10">
                                <select class="select">
                                    <option>Категория жалобы</option>
                                    <option>Вариант 2</option>
                                    <option>Вариант 3</option>
                                    <option>Вариант 4</option>
                                </select>
                            </div>

                            <div class="form-group not-empty mr-bottom-10">
                                <input type="text" placeholder="" class="form-group__input"
                                       value="Многоуровневые парковки вдоль железной дороги в мкр. Мещерское озеро">
                                <label class="form-group__label">Фамилия</label>
                            </div>

                            <div class="form-group not-empty mr-bottom-10">
                                <textarea class="form-group__textarea" value="">В мкр. Мещерское озеро в настоящее время размещаются разгрузочно-погрузочные площадки, сооруженные к ЧМ2018. Необходимость подобных парковок объясняется проблемой перезаполнения близлежащих дворов машинами и служить дополнительным «экраном» от железной дороги. Подобные парковки имеются в Москве.</textarea>
                                <label class="form-group__label">Краткое описание (не более 3000 символов)</label>
                            </div>
                        </form>

                        <h6>Введите адрес или укажите место на карте</h6>
                        <form>
                            <div class="form-group not-empty">
                                <input type="text" placeholder="" class="form-group__input"
                                       value="Жилой район Мещерское Озеро, Нижний Новгород, Россия">
                                <label class="form-group__label">Адрес</label>
                            </div>

                            <div class="profile-map" id="profile-map"></div>

                            <div class="row">
                                <div class="col-lg-6"></div>
                                <div class="col-lg-6"></div>
                            </div>
                        </form>

                        <div class="row mr-bottom-40">
                            <div class="col-lg-6">
                                <div class="captcha">
                                <img src="static/img/general/captcha.png" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-checkbox">
                                    <input type="checkbox" name="" id="check" class="form-checkbox__input">
                                    <label for="check">С порядком приема и
                                        <a href="#">рассмотрения обращений ознакомлен(а)</a></label>
                                </div>
                            </div>

                            <div class="col-12 mr-top-40">
                                <a href="#" class="btn base-btn form-btn">Отправить жалобу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12">
                <!-- aside -->
                <aside class="aside text-base">
                    <ul class="sidebar-tab">
                        <li class="sidebar-tab__item active">
                            <a class="sidebar-tab__link" href="#">Форма отправки жалобы</a>
                        </li>

                        <li class="sidebar-tab__item">
                            <a class="sidebar-tab__link" href="#">Порядок приема и рассмотрения жалоб граждан</a>
                        </li>

                        <li class="sidebar-tab__item">
                            <a class="sidebar-tab__link" href="#">Жалобы граждан</a>
                        </li>

                        <li class="sidebar-tab__item">
                            <a class="sidebar-tab__link" href="#">Правовая база</a>
                        </li>

                        <li class="sidebar-tab__item">
                            <a class="sidebar-tab__link" href="#">Вопросы и ответы</a>
                        </li>
                    </ul>

                </aside>
                <!-- end aside -->
            </div>
        </div>
        <!-- end main -->

    </div>
</section>
<!-- page content end -->
