.wrap-block {
    background: $white-color;
    border-radius: 4px;
    padding: 50px 40px 40px 40px;
    margin-top: 65px;

    p {
        font-size: 16px;
        line-height: 22px;
    }

    @include media-only(md) {
        padding: 35px 20px 25px 20px;
        margin-bottom: 50px;
    }

    @include media-only(md) {
        padding: 30px 15px 20px 15px;
        margin-bottom: 50px;
    }

    .form-btn {
        display: block;
        max-width: 350px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include media-only(sm) {
            width: 100%;
        }
    }
}

.wrap-text {
    padding-right: 80px;

    @include media-only(lg) {
        padding-right: 20px;
    }
}

.gray-text {
    color: #848e99;
}

.profile-map {
    width: 100%;
    height: 380px;
    border-radius: 4px;
    overflow: hidden;
    margin: 50px 0;
}

.captcha {
    width: 100%;
    @include media-only(md) {
        max-width: 350px;
        margin: 0 auto 20px auto;
    }
}

html[color-schema="color-black"] .wrap-block {
    background-color: rgba(254, 254, 254, 0.2);
}

html[color-schema="color-black"] .gray-text,
html[color-schema="color-black"] .wrap-text p {
    color: #ffffff;
}


html[color-schema="color-brown"] .gray-text,
html[color-schema="color-brown"] .wrap-text p {
    color: #a9e44d;
}

html[color-schema="color-beige"] .wrap-block {
    background-color: #f7f3d6;
    border: 1px solid #4d4b43;
}

html[color-schema="color-beige"] .gray-text,
html[color-schema="color-beige"] .wrap-text p {
    color: #4d4b43;
}


html[color-schema="color-blue"] .wrap-block {
    background-color: #9dd1ff;
    border: 1px solid #063462;
}

html[color-schema="color-blue"] .gray-text,
html[color-schema="color-blue"] .wrap-text p {
    color: #063462;
}
