<section class="content-page">
    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="container">
        <!-- main -->
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="page-title">Мой профиль</div>

                <div class="wrap-block">
                    <div class="wrap-block__title h4">Личные данные</div>
                    <div class="row mr-bottom-20">
                        <div class="col-lg-6">
                            <p class="gray-text">ФИО</p></div>
                        <div class="col-lg-6">
                            <p>Блажевич Игорь Юрьевич</p>
                        </div>
                    </div>

                    <div class="row mr-bottom-15">
                        <div class="col-lg-6">
                            <p class="gray-text">E-mail</p>
                        </div>
                        <div class="col-lg-6">
                            <p>awesome.fortesting@yandex.ru</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <!-- aside -->
                <aside class="aside text-base">
                    {{> aside/profile-info }}
                    {{> aside/profile-menu }}

                    <button class="btn gray-btn">Выйти</button>
                </aside>
                <!-- end aside -->
            </div>
        </div>
        <!-- end main -->

    </div>
</section>
<!-- page content end -->
