.container {
    position: relative;
}
.ecomap__header {
    border-bottom: 1px solid $palette-gray5;
    margin-bottom: 40px;
}
.ecomap__tabs {
    position: absolute;
    top: 18px;
    right: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin: 0;
    li {
        font-size: 16px;
        font-family: "GOSTUI2";
        font-weight: 700;
        padding: 0 0 33px 0;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        margin: 0 20px;
    }
    li.active {
        color: $palette-secondary;
        border-bottom: 2px solid $palette-secondary;
    }
    li:last-child {
        margin-right: 0;
    }
}
.ecomap__content {
  display: none;
}
.ecomap__content.active {
  display: block;
}
/**FILTER + ecoproblem btn*/
.map-filter {
    position: relative;
    .btn {
        &::after {
            display: none;
        }
    }
}
.map-filter__show-btn {
    width: 58px;
    height: 58px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0px 5px 18px 2px rgba(59, 66, 86, 0.64);
    min-width: auto;
    .line {
        display: block;
        background-color: $palette-secondary;
        height: 2px;
        margin-bottom: 3px;
    }
    .line_1 {
        width: 20px;
    }
    .line_2 {
        width: 12px;
    }
    .line_3 {
        width: 4px;
        margin: 0;
    }
    &:hover {
        .line {
            background-color: $white-color;
        }
    }
}
.map-filter__menu {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 332px;
    margin: 0 0 10px 0;
    background-color: $white-color;
    display: none;
    opacity: 0;
    box-shadow: 0px 5px 18px 2px rgba(59, 66, 86, 0.64);
    border-radius: 4px;
    transition: all 0.2s;
}
.map-filter__menu.active {
    display: block;
    opacity: 1;
}
.menu-filter__header {
    position: relative;
    width: 100%;
    padding: 18px 20px;
    border-bottom: 1px solid rgb(230, 234, 239);
}
.menu-filter__title h2 {
    margin: 0;
    font-size: 15px;
}
.map-objects__title {
    color: $palette-gray2;
    margin-bottom: 10px;
    display: block;
}
.menu-filter__main {
    padding: 18px 20px;
}
.menu-filter__search-box {
    margin-bottom: 15px;
    position: relative;
}
.menu-filter__hide-filter {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    border-left: 1px solid rgb(230, 234, 239);
    cursor: pointer;
    width: 58px;
    height: 58px;
    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        height: 16px;
        width: 16px;
        transform: translate3d(-50%, -50%, 0);
        background: url(../img/general/arrow-left-line.png) no-repeat;
    }
}
.menu-filter__objects {
    padding: 20px 0;
}
.menu-filter__footer {
    border-top: 1px solid rgb(230, 234, 239);
    padding: 20px;
    .form-actions {
        display: flex;
         flex-flow: row nowrap;
         .filter-submit {
             margin-right: 10px;
         }
         input {
             flex: 1;
         }
    }
}
.filter-clear {
    color:  $palette-secondary;
    border: 2px solid $palette-gray3;
}
.filter-clear:disabled {
    color:  $palette-gray3;
}
.map-objects {
    display: flex;
    flex-flow: row wrap;
    .btn {
        display: block;
        margin: 0 8px 8px 0;
    }
}
.report-ecoproblem {
    cursor: pointer;
    box-shadow: 0px 5px 18px 2px rgba(59, 66, 86, 0.64);
    width: 280px;
    height: 58px;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-color: $white-color;
    border-radius: 4px;
    padding: 0px 20px 3px 60px;
    display: flex;
    align-items: center;
    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 20px;
        width: 22px;
        height: 19px;
        transform: translate3d( 0px, -50%, 0px );
        background: url('../img/general/alert-line.png') no-repeat;
    }
}
@media screen and (max-width: 991px) {
    .report-ecoproblem {
        width: 58px;
        padding: 0px 20px 3px 20px;
        text-indent: -9999px;
        &::before {
            left: 18px;
        }
    }
}
/**OBJECT INFO*/

.map-obj {
    margin: 10px 0;
    width: 100px;
    font-size: 10px;
}
.map-object__info {
    font-size: 15px;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 332px;
    margin: 0 0 10px 0;
    background-color: $white-color;
    display: none;
    opacity: 0;
    box-shadow: 0px 5px 18px 2px rgba(59, 66, 86, 0.64);
    border-radius: 4px;
    transition: all 0.2s;
    overflow: hidden;


    .label {
        color: $palette-primary;
    }
    .text {
        margin-bottom: 10px;
    }
    .map-objects {
        margin-bottom: 15px;
    }

}
.map-object__info.active {
    display: block;
    opacity: 1;
}

.object-info__header {
    background: $palette-gray;
    padding: 16px 20px;
}
.object-info__title h2 {
    margin: 0;
    font-size: 19px;
}
.object-info__main {
    padding: 20px;
}
.object-info__img {
    border-radius: 4px;
    width: 294px;
    height: 160px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
}
.object-info__name  {

    font-weight: 700;
    margin-bottom: 10px;
}

.object-info__close-info {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    cursor: pointer;
    width: 58px;
    height: 58px;
    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        height: 16px;
        width: 16px;
        transform: translate3d(-50%, -50%, 0);
        background: url(../img/general/close.png) no-repeat;
    }
}

.object-info__footer {
    padding: 20px;
}
.text-3 {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        top: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgb(255,255,255);
        background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
}


/*ecomap2*/
.objects {
    display: flex;
    flex-flow: row wrap;
}
.search-form__inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.obj-item__label {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 5px 10px;
  align-self: flex-start;
  margin-bottom: 32px;
}
.obj-item_message {
    color: $white-color;
    .obj-item__name {
      font-size: 28px;
      // font-family: "GOSTUI2";
      font-weight: bold;
    }
}


.obj-item {
    background-color: $white-color;
    border-radius: 4px;
    overflow: hidden;
    width: 384px;
    min-height: 542px;
    margin-right: 31px;
    margin-bottom: 31px;
    display: flex;
    flex-flow: column nowrap;

    &__img {
        height: 240px;
        overflow: hidden;
        flex: 0 0 auto;
        cursor: pointer;
    }
    &__name {
        margin-bottom: 20px;
        line-height: 1.25;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            color: $palette-secondary;
        }
    }
    &__info {
        flex: 1 0 auto;
        padding: 30px 35px 35px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    &__sections {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .label {
        color: $palette-gray2;
    }
    .text {
        margin-bottom: 10px;
        line-height: 1.15;
    }
    .base-btn:hover {
        background: $palette-secondary;
        border-color: $palette-secondary;
    }
}
@media screen and (max-width: 991px){
    .obj-item {
        margin-right: 0;
        width: 100%;
    }
    .obj-item__img {
        height: 300px;
        img {
            width: 100%;
        }
    }
}
@media screen and (min-width: 1367px){
    .obj-item:nth-child(3n) {
        margin-right: 0;
    }
}
.search-form__search-box {
    position: relative;
    margin-right: 32px;
    flex: 1;

}
.search-form__select {
    width: 384px;
}
.search-form__sections {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 40px;
    overflow: hidden;
    .btn {
        color: $palette-main;
        margin: 0 12px 12px 0;
    }
    .btn:hover {
        color: $white-color;
    }
    .more {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        padding: 6px 14px;
        min-width: auto;
        span {
            display: block;
            position: relative;
            width: 4px;
            height: 4px;
            margin-right: 3px;
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #000000;
            }
        }
        span:last-child {
            margin: 0;
        }
    }
}
.search-form__sections .btn:focus {
    color: #ffffff;
}


.search-form__sections.open {
  height: auto;
}

@media screen and (max-width: 1366px){
    .search-form__sections {
        height: 80px;
    }
}



.search-form__inputs {
    .select2-container .select2-selection--single {
        border: 1px solid transparent !important;
    }
    .select2-container.select2-container--focus .select2-selection--single {
        border: 1px solid #d0d4dd !important;
    }
    .form-group__input {
        border: 1px solid transparent;
    }
    .form-group__input:focus {
        border-color: #18b4bb;
    }
}


.obj-item_message {
    background: $palette-secondary url(../img/general/phonehand.svg) no-repeat;
    background-size: 85%;
    background-position: center bottom -25px;

    .obj-item__name:hover {
        color: #ffffff;
    }

}
.obj-item_message .obj-item__info {
    padding: 35px 40px 60px;
}
@media screen and (max-width: 991px){
    .obj-item_message {
        background: $palette-secondary url(../img/general/phonehand.svg) no-repeat;
        background-size: 45%;
        background-position: center bottom -25px;
    }
}
.obj-item__name {
    font-size: 18px;
    font-weight: 700;
}

.ecomap-list__footer {
    display: flex;
    flex-flow: row  wrap;
    justify-content: space-between;
    margin: 60px 0 100px;
    .wrap-pagination {
        margin: 0;
    }
    .gray-btn-2 {
        max-width: 384px;
        border-color: $palette-gray5;
        &:hover, &[data-hover="true"] {
            background: transparent;
            color: $palette-main;
            border-color:  $palette-secondary;
        }

        &:focus, &[data-focus="true"] {
            background: transparent;
            color: $palette-main;
            border-color:  $palette-gray5;
        }

        &[aria-disabled="disabled"], .disabled {
            opacity: 0.5;

            &:hover, &:focus {
                color: $palette-main;
                background: transparent;
                border-color: $palette-gray5;
            }
        }
    }
}
@media screen and (max-width: 991px){
    .ecomap-list__footer .wrap-pagination {
        margin: 0 0 20px 0;
    }
}

