<div class="container">
    <div class="search-form">
        <form action="">
            <div class="search-form__inputs">
                <div class="search-form__search-box">
                    <input type="search" placeholder="Адрес или название места" class="form-group__input">
                    <input class="search-btn" type="submit" value="Найти">
                </div>
                <div class="search-form__select">
                    <select class="select">
                        <option>Район</option>
                        <option>Вариант 2</option>
                        <option>Вариант 3</option>
                        <option>Вариант 4</option>
                    </select>
                </div>
            </div>

            <div class="search-form__sections">
                <a href="#" class="btn white-btn btn-2 ">Парки, рекреационные зоны</a>
                <a href="#" class="btn white-btn btn-2 ">Зелёные насаждения</a>
                <a href="#" class="btn white-btn btn-2 ">Полигоны ТБО</a>
                <a href="#" class="btn white-btn btn-2 ">Водные объекты</a>
                <a href="#" class="btn white-btn btn-2 ">Застройка города</a>
                <a href="#" class="btn white-btn btn-2 ">Зоны затопления</a>
                <div class="more btn white-btn btn-2">
                        <span></span>
                        <span></span>
                        <span></span>
                </div>
            </div>

        </form>
        <div class="objects">
            <div class="objects__item obj-item">
                <div class="obj-item__img">
                    <img src="/static/img/general/project/tresh1.jpg" alt="">
                </div>
                <div class="obj-item__info">
                    <div class="obj-item__name">Городской ландшафтный парк культуры и отдыха имени А.С. Пушкина</div>
                    <div class="label">Адрес</div>
                    <div class="text">Приокский район, Проезд от пр. Гагарина к дому 76 по пр. Гагарина (ДГБ №1)</div>
                    <div class="label">Координаты</div>
                    <div class="text">56.278944, 43.983475</div>
                    <div class="obj-item__sections">
                        <a href="#" class="btn base-btn btn-2">Парки, рекреационные зоны</a>
                    </div>

                </div>
            </div>
            <div class="objects__item obj-item">
                <div class="obj-item__img">
                    <img src="/static/img/general/project/img02.jpg" alt="">
                </div>
                <div class="obj-item__info">
                    <div class="obj-item__name">Полигон твёрдых бытовых отходов «Игумновский»</div>
                    <div class="label">Адрес</div>
                    <div class="text">Нижегородская область, городской округ Дзержинск</div>
                    <div class="label">Координаты</div>
                    <div class="text">56.288963, 43.676189</div>
                    <div class="obj-item__sections">
                        <a href="#" class="btn dirtygreen-btn btn-2">Полигоны ТБО</a>
                    </div>
                </div>

            </div>
            <div class="objects__item obj-item obj-item_message">
                <div class="obj-item__info">
                    <div class="obj-item__label">Прием обращений</div>
                    <div class="obj-item__name">Гражданский контроль</div>
                    <div class="text">Прием жалоб с фото-видео фиксацией правонарушений в сфере экологии</div>
                    <div class="obj-item__sections">
                        <a href="#" class="btn white-btn">Сообщить о нарушении</a>
                    </div>

                </div>
            </div>
            <div class="objects__item obj-item">
                <div class="obj-item__img">
                    <img src="/static/img/general/project/img03.jpg" alt="">
                </div>
                <div class="obj-item__info">
                    <div class="obj-item__name">Тимирязева, 39</div>
                    <div class="label">Адрес</div>
                    <div class="text">Нижний Новгород, Советский район, улица Тимирязева, 39</div>
                    <div class="label">Координаты</div>
                    <div class="text">56.278944, 43.983475</div>
                    <div class="obj-item__sections">
                        <a href="#" class="btn pink-btn btn-2">Застройка города</a>
                    </div>

                </div>
            </div>
            <div class="objects__item obj-item">
                <div class="obj-item__img">
                    <img src="/static/img/general/project/img04.jpg" alt="">
                </div>
                <div class="obj-item__info">
                    <div class="obj-item__name">Пункт приема вторсырья</div>
                    <div class="label">Адрес</div>
                    <div class="text">Нижний Новгород, Приокский район, ул. Богородского, 5, корп. 5</div>
                    <div class="label">Координаты</div>
                    <div class="text">56.288963, 43.676189</div>
                    <div class="obj-item__sections">
                        <a href="#" class="btn orange-btn btn-2">Пункты приема вторсырья, ТКО</a>
                    </div>

                </div>
            </div>
            <div class="objects__item obj-item">
                <div class="obj-item__img">
                    <img src="/static/img/general/project/img05.jpg" alt="">
                </div>
                <div class="obj-item__info">
                    <div class="obj-item__name">Полигон твёрдых бытовых отходов «МАГ-1»</div>
                    <div class="label">Адрес</div>
                    <div class="text">Нижегородская область, городской округ Дзержинск</div>
                    <div class="label">Координаты</div>
                    <div class="text">56.288963, 43.676189</div>
                    <div class="obj-item__sections">
                        <a href="#" class="btn dirtygreen-btn btn-2">Полигоны ТБО</a>
                    </div>

                </div>
            </div>
            <div class="objects__item obj-item">
                <div class="obj-item__img">
                    <img src="/static/img/general/project/img06.jpg" alt="">
                </div>
                <div class="obj-item__info">
                    <div class="obj-item__name">Парк имени 1 Мая</div>
                    <div class="label">Адрес</div>
                    <div class="text">Нижний Новгород, Канавинский район, ул. Октябрьской Революции, 31, корп. 1</div>
                    <div class="label">Координаты</div>
                    <div class="text">56.310886, 43.933727</div>
                    <div class="obj-item__sections">
                        <a href="#" class="btn base-btn btn-2">Парки, рекреационные зоны</a>
                    </div>
                </div>
            </div>
            <div class="objects__item obj-item">
                <div class="obj-item__img">
                    <img src="/static/img/general/project/img07.jpg" alt="">
                </div>
                <div class="obj-item__info">
                    <div class="obj-item__name">Жилой район Мещерское Озеро</div>
                    <div class="label">Адрес</div>
                    <div class="text">Нижний Новгород, Канавинский район, Сибирская улица, 3</div>
                    <div class="label">Координаты</div>
                    <div class="text">56.342634, 43.954265</div>
                    <div class="obj-item__sections">
                        <a href="#" class="btn blue-btn btn-2">Зоны затопления</a>
                    </div>
                </div>
            </div>
            <div class="objects__item obj-item">
                <div class="obj-item__img">
                    <img src="/static/img/general/project/img08.jpg" alt="">
                </div>
                <div class="obj-item__info">
                    <div class="obj-item__name">Сормовский парк</div>
                    <div class="label">Адрес</div>
                    <div class="text">Нижний Новгород, Сормовский район, Сормовский парк культуры и отдыха</div>
                    <div class="label">Координаты</div>
                    <div class="text">56.339390, 43.856052</div>
                    <div class="obj-item__sections">
                        <a href="#" class="btn green-btn btn-2">Зелёные насаждения</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
