<div id="ol-map">

<div class="container">
    <div class="map-filter">
        <div class="btn white-btn map-filter__show-btn">
            <span class="line line_1"></span>
            <span class="line line_2"></span>
            <span class="line line_3"></span>
        </div>
        <div class="map-filter__menu menu-filter">
            <form action="">
                <div class="menu-filter__header">
                    <div class="menu-filter__title"><h2>Фильтр</h2></div>
                    <div class="menu-filter__hide-filter"></div>
                </div>
                <div class="menu-filter__main">
                    <div class="menu-filter__search-box">
                        <input type="search" placeholder="Адрес или название места" class="form-group__input">
                        <input class="search-btn" type="submit" value="Найти">
                    </div>
                    <select class="select">
                        <option>Район</option>
                        <option>Вариант 2</option>
                        <option>Вариант 3</option>
                        <option>Вариант 4</option>
                    </select>
                    <div class="menu-filter__objects">
                        <span class="map-objects__title">Объекты</span>
                        <div class="map-objects">
                            <a class="btn btn-2 grey-btn-2" href="">Парки, рекреационные зоны</a>
                            <a class="btn btn-2 grey-btn-2" href="">Зелёные насаждения</a>
                            <a class="btn btn-2 grey-btn-2" href="">Полигоны ТБО</a>
                            <a class="btn btn-2 grey-btn-2" href="">Водные объекты</a>
                            <a class="btn btn-2 grey-btn-2" href="">Застройка города</a>
                            <a class="btn btn-2 grey-btn-2" href="">Зоны заражений</a>
                            <a class="btn btn-2 grey-btn-2" href="">Зоны затопления</a>
                            <a class="btn btn-2 grey-btn-2" href="">Пункты приема вторсырья, ТКО</a>
                            <a class="btn btn-2 grey-btn-2" href="">План озеленения</a>
                        </div>
                    </div>
                </div>
                <div class="menu-filter__footer">
                    <div class="form-actions">
                        <input id="submit-filter-form" class="btn base-btn filter-submit form-submit" type="submit" value="Применить">
                        <input class="btn filter-clear form-submit" type="submit" value="Сбросить">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="btn map-obj">for-frontend-button</div>
    <div class="map-object__info object-info">
        <div class="object-info__header">
            <div class="object-info__title"><h2>Сведения об объекте</h2></div>
            <div class="object-info__close-info"></div>
        </div>
        <div class="object-info__main">
            <div class="object-info__img">
                <img src="/static/img/general/project/tresh2.jpg" alt="">
            </div>
            <div class="object-info__name">Детская городская клиническая больница №1</div>
            <div class="map-objects">
                <a href="#" class="btn base-btn btn-2">Парки, рекреационные зоны</a>
            </div>
            <div class="object-info__descrip">
                <div class="label">Район</div>
                <div class="text">Приокский</div>
                <div class="label">Адрес</div>
                <div class="text">Проезд от пр.Гагарина к дому 76 по пр. Гагарина (ДГБ №1)</div>
                <div class="label text-3">
                    Координаты
                    <br>
                    56.278944, 43.983475
                </div>
            </div>
        </div>
        <div class="object-info__footer">
            <a href="" class="btn base-btn">Подробнее</a>
        </div>
    </div>




    <div id="report-problem-button" class="report-ecoproblem" title="Сообщить об экопроблем">Сообщить об экопроблеме</div>
</div>


</div>
