.sections-links {
    margin-bottom: 30px;
}
.attached-file {
    color: #848e99;
}


/*временные стили    COLUMN  перекрывает контент на мобильном! */
.header .header-mobile .menu__items {
    flex-direction: row;
}
/*временные стили end*/