<div class="text-page">
    <div class="breadcrumbs">
        <div class="container">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="#" class="breadcrumbs__link">Экологические проекты </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bg-gray pb-40">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-page h1">Типовая страница</div>
                    <div class="h1">Заголовок H1</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex
                        ea commodo consequat.</p>

                    <div class="h2">Заголовок H2</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex
                        ea commodo consequat.</p>

                    <div class="h3">Заголовок H3</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex
                        ea commodo consequat.</p>

                    <div class="h4">Заголовок H4</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex
                        ea commodo consequat.</p>

                    <div class="h5">Заголовок H5</div>
                    <p class="medium-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex
                        ea commodo consequat.</p>

                    <div class="h6">Заголовок H6</div>
                    <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor
                        incididunt
                        ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex
                        ea commodo consequat.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="liner bg-gray">
                        <a href="#">Lorem ipsum dolor sit amet</a>
                    </div>
                    <div class="liner bg-gray">
                        <a href="#" class="disabled">Lorem ipsum dolor sit amet</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="liner bg-gray">
                        <a href="#" class="btn base-btn">Подробнее</a>
                    </div>
                    <div class="liner bg-gray">
                        <a href="#" class="btn base-btn" data-hover="true">Подробнее</a>
                    </div>
                    <div class="liner bg-gray">
                        <a href="#" class="btn base-btn" data-focus="true">Подробнее</a>
                    </div>
                    <div class="liner bg-gray">
                        <a href="javascript:void(0)" class="btn base-btn disabled" aria-disabled="disabled">
                            Подробнее</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="liner">
                        <a href="#" class="btn white-btn">Подробнее</a>
                    </div>

                    <div class="liner">
                        <a href="#" class="btn white-btn" data-hover="true">Подробнее</a>
                    </div>

                    <div class="liner">
                        <a href="#" class="btn white-btn" data-focus="true">Подробнее</a>
                    </div>

                    <div class="liner">
                        <a href="javascript:void(0)" class="btn white-btn disabled" aria-disabled="disabled">
                            Подробнее</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="liner">
                        <a href="#" class="btn border-btn">Подробнее</a>
                    </div>
                    <div class="liner">
                        <a href="#" class="btn border-btn" data-hover="true">Подробнее</a>
                    </div>
                    <div class="liner">
                        <a href="#" class="btn border-btn" data-focus="true">Подробнее</a>
                    </div>

                    <div class="liner">
                        <a href="javascript:void(0)" class="btn border-btn disabled" aria-disabled="disabled">
                            Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white pt-40 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <input type="text" placeholder="" class="form-group__input">
                        <label class="form-group__label">Фамилия</label>
                        <div class="form-group__error">Это поле необходимо заполнить</div>
                    </div>

                    <div class="form-group has-error">
                        <input type="text" placeholder="" class="form-group__input">
                        <label class="form-group__label">Фамилия</label>
                        <div class="form-group__error">Это поле необходимо заполнить</div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <select class="select">
                        <option>Вариант 1</option>
                        <option>Вариант 2</option>
                        <option>Вариант 3</option>
                        <option>Вариант 4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gray pt-40 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-page__img">
                        <img src="static/img/general/project/project-img.png" alt="" class="img-fluid">
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit <a href="#">anim id est laborum</a>.
                    </p>

                    <p><i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</i> doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto
                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                        aut
                        odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                        nesciunt.
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                        velit,
                        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                        voluptatem.</p>

                    <q class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </q>

                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                    </ul>

                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit;</li>
                    </ol>

                    <table>
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Колонка 1</th>
                            <th>Колонка 2</th>
                            <th>Колонка 3</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Значение 1</td>
                            <td>Значение 1</td>
                            <td>Значение 1</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Значение 2</td>
                            <td>Значение 2</td>
                            <td>Значение 2</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Значение 3</td>
                            <td>Значение 3</td>
                            <td>Значение 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
