<ul class="sidebar-tab">
    <li class="sidebar-tab__item active">
        <a class="sidebar-tab__link" href="#">Мой профиль</a>
    </li>
    <li class="sidebar-tab__item">
        <a class="sidebar-tab__link" href="#">Мои обращения</a>
    </li>
    <li class="sidebar-tab__item">
        <a class="sidebar-tab__link" href="#">Уведомления <span class="sidebar-tab__message">4</span></a>
    </li>

    <li class="sidebar-tab__item">
        <a class="sidebar-tab__link" href="#">Управление подписками</a>
    </li>
</ul>
