<ul class="sidebar-tab">
    <li class="sidebar-tab__item">
        <a class="sidebar-tab__link" href="#">Форма отправки жалобы</a>
    </li>
    <li class="sidebar-tab__item">
        <a class="sidebar-tab__link" href="#">Порядок приема и рассмотрения жалоб граждан</a>
    </li>
    <li class="sidebar-tab__item active">
        <a class="sidebar-tab__link" href="#">Статистика обращений</a>
    </li>
    <li class="sidebar-tab__item">
        <a class="sidebar-tab__link" href="#">Правовая база</a>
    </li>
    <li class="sidebar-tab__item">
        <a class="sidebar-tab__link" href="#">Вопросы и ответы</a>
    </li>
</ul>
