<div class="wrap-pagination"><ul class="custom-pagination text-dark">
    <li class="pag-arrow prev disabled"><a><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
    <li class="active"><a class="" href="" data-page="0">1</a></li>
    <li><a class="" href="" data-page="1">2</a></li>
    <li><a class="" href="" data-page="2">3</a></li>
    <li><a class="" href="" data-page="3">4</a></li>
    <li class="pag-arrow next"><a class="" href="" data-page="1"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
</ul></div>
