.article {
    background: #f4f7fb;
    padding-bottom: 90px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__content {
        width: calc(100% - 416px);
        min-width: calc(100% - 416px);
    }

    &__sidebar {
        width: 312px;
        min-width: 312px;
    }

    &__title {
        font-size: 32px;
        color: rgb(20, 23, 30);
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 25px;
    }

    &__date {
        margin-bottom: 40px;
        font-size: 14px;
        color: rgb(132, 142, 153);
        line-height: 1.286;
    }

    &__image {
        padding-bottom: 56%;
        position: relative;
        overflow: hidden;
        margin-bottom: 40px;
        border-radius: 4px;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__text {
        margin-bottom: 20px;

        p {
            font-size: 19px;
            font-family: "Roboto";
            color: rgb(20, 23, 30);
            line-height: 1.474;
            margin-bottom: 20px;
        }
    }


    @include media-only(xl) {
        &__content {
            width: calc(100% - 360px);
            min-width: calc(100% - 360px);
        }
    }

    @include media-only(lg) {
        &__content {
            width: 100%;
            min-width: 100%;
        }

        &__sidebar {
            display: none;
        }
    }

    @include media-only(md) {
        &__title {
            font-size: 28px;
        }

        &__text {
            p {
                font-size: 17px;
            }
        }
    }
}

.popular-article {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__more {
        font-size: 15px;
        font-family: "Roboto";
        color: rgb(124, 131, 150);
        line-height: 1;
        text-decoration: none;

        .fa {
            font-size: 10px;
            margin-left: 5px;
        }

        &:hover {
            color: $palette-secondary;
        }
    }

    .h2 {
        font-size: 28px;
        font-family: "Roboto";
        color: rgb(20, 23, 30);
        font-weight: bold;
        line-height: 1;
    }
}

.sidebar-tab {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    &__item {
        border-left: 1px solid #d5dae0;
        padding-left: 0;

        &.active {
            border-color: $palette-secondary;
            margin-left: -2px;

            .sidebar-tab__link {
                border-color: $palette-secondary;
                color: $palette-secondary;
            }
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        font-size: 16px;
        color: #14171e;
        font-weight: bold;

        line-height: 1;
        padding: 20px 0 20px 32px;
        border-left: 2px solid transparent;

        &:hover {
            text-decoration: none;
            color: $palette-secondary;
        }
    }

    &__message {
        display: inline-block;
        height: 25px;
        width: 25px;
        background: $palette-secondary;
        color: $white-color;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        border-radius: 50%;
        margin-left: 15px;
    }
}

.sidebar .sidebar__info {
    font-size: 15px;
    margin-bottom: 20px;

    .text-2 {
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .text-2:last-child {
        margin-bottom: 20px;
    }
}

/*[color-schema="color-black"]*/
html[color-schema="color-black"] .articles,
html[color-schema="color-black"] .article,
html[color-schema="color-black"] .sidebar-tab__message {
    background: #000000;
}

html[color-schema="color-black"] .article__title,
html[color-schema="color-black"] .article__date,
html[color-schema="color-black"] .article__text,
html[color-schema="color-black"] .article__text p,
html[color-schema="color-black"] .articles__title,
html[color-schema="color-black"] .articles__date,
html[color-schema="color-black"] .articles__text,
html[color-schema="color-black"] .articles__text p,
html[color-schema="color-black"] .articles__info a,
html[color-schema="color-black"] .popular-article__more,
html[color-schema="color-black"] .popular-article h2,
html[color-schema="color-black"] .sidebar-tab__link,
html[color-schema="color-black"] .sidebar__social p {
    color: #ffffff;
}

html[color-schema="color-black"] .sidebar-tab__item,
html[color-schema="color-black"] .sidebar-tab__item.active {
    border-color: #ffffff;
}

html[color-schema="color-black"] .sidebar-tab__item.active .sidebar-tab__link,
html[color-schema="color-black"] .sidebar__btn .btn {
    border-color: #ffffff;
    color: #ffffff;
}

html[color-schema="color-black"] .sidebar-tab__link:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*[color-schema="color-brown"]*/
html[color-schema="color-brown"] .articles,
html[color-schema="color-brown"] .article,
html[color-schema="color-brown"] .sidebar-tab__message {
    background: #3b2716;
}

html[color-schema="color-brown"] .article__title,
html[color-schema="color-brown"] .article__date,
html[color-schema="color-brown"] .article__text,
html[color-schema="color-brown"] .article__text p,
html[color-schema="color-brown"] .articles__title,
html[color-schema="color-brown"] .articles__date,
html[color-schema="color-brown"] .articles__text,
html[color-schema="color-brown"] .articles__text p,
html[color-schema="color-brown"] .articles__info a,
html[color-schema="color-brown"] .popular-article__more,
html[color-schema="color-brown"] .popular-article h2,
html[color-schema="color-brown"] .sidebar-tab__link,
html[color-schema="color-brown"] .sidebar__social p {
    color: #a9e44d;
}

html[color-schema="color-brown"] .sidebar-tab__item,
html[color-schema="color-brown"] .sidebar-tab__item.active {
    border-color: #a9e44d;
}

html[color-schema="color-brown"] .sidebar-tab__item.active .sidebar-tab__link,
html[color-schema="color-brown"] .sidebar__btn .btn {
    border-color: #a9e44d;
    color: #a9e44d;
}

html[color-schema="color-brown"] .sidebar-tab__link:hover {
    color: #a9e44d;
    text-decoration: underline;
}

/*[color-schema="color-beige"]*/
html[color-schema="color-beige"] .articles,
html[color-schema="color-beige"] .article,
html[color-schema="color-beige"] .sidebar-tab__message {
    background: #f7f3d6;
}

html[color-schema="color-beige"] .article__title,
html[color-schema="color-beige"] .article__date,
html[color-schema="color-beige"] .article__text,
html[color-schema="color-beige"] .article__text p,
html[color-schema="color-beige"] .articles__title,
html[color-schema="color-beige"] .articles__date,
html[color-schema="color-beige"] .articles__text,
html[color-schema="color-beige"] .articles__text p,
html[color-schema="color-beige"] .articles__info a,
html[color-schema="color-beige"] .popular-article__more,
html[color-schema="color-beige"] .popular-article h2,
html[color-schema="color-beige"] .sidebar-tab__link,
html[color-schema="color-beige"] .sidebar__social p {
    color: #4d4b43;
}

html[color-schema="color-beige"] .sidebar-tab__item,
html[color-schema="color-beige"] .sidebar-tab__item.active {
    border-color: #4d4b43;
}

html[color-schema="color-beige"] .sidebar-tab__item.active .sidebar-tab__link,
html[color-schema="color-beige"] .sidebar__btn .btn {
    border-color: #4d4b43;
    color: #4d4b43;
}

html[color-schema="color-beige"] .sidebar-tab__link:hover {
    color: #4d4b43;
    text-decoration: underline;
}


/*[color-schema="color-blue"]*/
html[color-schema="color-blue"] .articles,
html[color-schema="color-blue"] .article,
html[color-schema="color-blue"] .sidebar-tab__message {
    background: #9dd1ff;
}

html[color-schema="color-blue"] .article__title,
html[color-schema="color-blue"] .article__date,
html[color-schema="color-blue"] .article__text,
html[color-schema="color-blue"] .article__text p,
html[color-schema="color-blue"] .articles__title,
html[color-schema="color-blue"] .articles__date,
html[color-schema="color-blue"] .articles__text,
html[color-schema="color-blue"] .articles__text p,
html[color-schema="color-blue"] .articles__info a,
html[color-schema="color-blue"] .popular-article__more,
html[color-schema="color-blue"] .popular-article h2,
html[color-schema="color-blue"] .sidebar-tab__link,
html[color-schema="color-blue"] .sidebar__social p {
    color: #063462;
}

html[color-schema="color-blue"] .sidebar-tab__item,
html[color-schema="color-blue"] .sidebar-tab__item.active {
    border-color: #063462;
}

html[color-schema="color-blue"] .sidebar-tab__item.active .sidebar-tab__link,
html[color-schema="color-blue"] .sidebar__btn .btn {
    border-color: #063462;
    color: #063462;
}

html[color-schema="color-blue"] .sidebar-tab__link:hover {
    color: #063462;
    text-decoration: underline;
}
